package gropdown

templ Content() {
	<ul
		id={ menuId("dropdown.Button.Label") }
		role="menu"
		class="gdd_content"
		aria-labelledby={ buttonId("dropdown.Button.Label") }
		data-state="close"
	>
		{ children... }
	</ul>
}
