package gropdown

import "fmt"

templ Root(id string) {
	<div
		id={ toSlug(fmt.Sprintf("gropdown-container-%s", id)) }
		class="gdd_gropdown_container"
		data-position={ getPlacementAsStringFromContextById(ctx, id) }
	>
		{ children... }
	</div>
}
